@mixin btn($bg-color: #e2e2e2) {
    background-color: $bg-color;
    border-radius: $base-border-radius;
    padding: $base-padding $base-padding * 2;
    cursor: pointer;

    body[data-theme="dark"] & {
        color: $dark-mode;
    }

    body[data-theme="light"] & {
        color: $dark-mode;
    }
}

.btn {
    @include btn;
}

@each $key,
$val in $colors {
    .btn-#{$key} {
        @include btn($val);

        &:hover {
            background-color: lighten($val, 5);
        }
    }

    .btn-outlined-#{$key} {
        @include btn(#fff);
        border: $base-border-thickness solid $val;

        &:hover {
            background-color: $val;
        }
    }

    .btn-complement-#{$key} {
        @include btn($val);
        color: light-comp($val);

        &:hover {
            color: $val;
            background-color: light-comp($val);
        }
    }
}