@use 'sass:math';

.card {
    display: block;
    padding: $base-padding;
    border: $base-border-thickness solid #ddd;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: math.div($base-border-radius, 4);

    &--title {
        font-size: $font-size-xxl;
        padding-bottom: $base-padding;
        font-weight: bold;
    }

    &--body {
        font-size: $font-size-xl;
    }
}