// $animation: 3s ease-in black;

.b-dark-mode {
    color: $light-mode;
    text-transform: uppercase;
    background-color: $dark-mode;
    border-radius: 0.5rem;
    padding: $base-padding;
}

// %img-dark-mode {
//     transform: rotate(180deg);
//     width: 5rem;
//     height: 5rem;
// }

// .img-dark-mode {
//     @extend %img-dark-mode;
//     background-image: url(../../img/logo/circle-dark.svg);
// }

body[data-theme="light"] {
    color: $dark-mode;
    background-color: $light-mode;
}

body[data-theme="dark"] {
    color: $light-mode;
    background-color: $dark-mode;
}

// 🔵dark mode auto (paramertes from pc)

// @media (prefers-color-scheme: dark) {
//     body {
//         color: $light-mode;
//         background-color: $dark-mode;
//     }
// }

// @media (prefers-color-scheme: light) {
//     body {
//         color: $dark-mode;
//         background-color: $light-mode;
//     }
// }