%flex-layout-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    @extend %flex-layout-nav;
    padding: $base-padding $base-padding * 2;

    .site-title {
        font-size: $font-size-xxl;
    }

    .container {
        @extend %flex-layout-nav;
    }

    // Burger-menu
    .b-burger-menu {
        background-origin: border-box;
        background-repeat: no-repeat;
    }

    .slider-menu {
        display: flex;
        padding: 0 0.5rem;
        background-color: red;
    }
}

.container.active .burger-menu-active {
    transform: translate(20rem);
    background-color: aqua;
}

@each $key,
$val in $colors {
    .navbar-#{$key} {
        @extend .navbar;
        background-color: $val;
    }
}

@media (min-width: 768px) {
    .b-burger-menu {
        display: none;
    }

    .slider-menu {
        flex-direction: column;
    }
}