%flex-layout-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    @extend %flex-layout-nav;
    padding: $base-padding $base-padding * 2;

    .site-title {
        font-size: $font-size-xxl;
    }

    .container {
        @extend %flex-layout-nav;
    }
}

@each $key,
$val in $colors {
    .navbar-#{$key} {
        @extend .navbar;
        background-color: $val;
    }
}