@for $i from 100 through 0 {

    // font-size
    .size-#{$i} {
        font-size: $base-font-size * $i;
    }
    
    // width
    .w-#{$i} {
        width: $width * $i;
    }
    
    // heidth
    .h-#{$i} {
        height: $hedth * $i;
    }
    
    // margin
    .m-#{$i} {
        margin: $base-margin * $i;
    }

    .mt-#{$i} {
        margin-top: $base-margin * $i;
    }

    .mr-#{$i} {
        margin-right: $base-margin * $i;
    }

    .mb-#{$i} {
        margin-bottom: $base-margin * $i;
    }

    .ml-#{$i} {
        margin-left: $base-margin * $i;
    }

    // padding
    .p-#{$i} {
        padding: $base-padding * $i;
    }

    .pt-#{$i} {
        padding-top: $base-padding * $i;
    }

    .pr-#{$i} {
        padding-right: $base-padding * $i;
    }

    .pb-#{$i} {
        padding-bottom: $base-padding * $i;
    }

    .pl-#{$i} {
        padding-left: $base-padding * $i;
    }

    // gap
    .gap-#{$i} {
        gap: $gap * $i;
    }
    
    // border
    .bt-#{$i} {
        border: $base-border-thickness * $i;
    }
    
    .br-#{$i} {
        border-radius: $base-border-radius * $i;
    }    
    
    // z-index
    .z-#{$i} {
        $z-index: $z-index * $i;
    }
    
}

// opacity
@for $i from 0 through $opacity {
    .o-#{$i} {
        opacity: $i / $opacity;
    }
}

// font-style
@each $key in $font-style {
    .font-style-#{$key} {
        font-style: $key;
    }
}

// font-weight
@each $key in $font-weight {
    .font-weight-#{$key} {
        font-weight: $key;
    }
}

// list-style
@each $key in $list-style {
    .list-style-#{$key} {
        list-style: $key;
    }
}

// background
@each $key in $background {
    .background-#{$key} {
        background: $key;
    }
}

// overflow
@each $key in $overflow {
    .overflow-#{$key} {
        overflow: $key;
    }
}

// border-style
@each $key in $border-style {
    .border-#{$key} {
        border-style: $key;
    }
}

// cursor
@each $key in $cursor {
    .cursor-#{$key} {
        cursor: $key;
    }
}

// position text
@each $key in $text-align {
    .text-#{$key} {
        text-align: $key;
    }
}

// display
@each $key in $display {
    .display-#{$key} {
        display: $key;
    }
}

// direction
@each $key in $direction {
    .direction-#{$key} {
        flex-direction: $key;
    }
}

// justify-content
@each $key in $justify-content {
    .justify-#{$key} {
        justify-content: $key;
    }
}

// align-items
@each $key in $align-items {
    .items-#{$key} {
        align-items: $key;
    }
}

// position
@each $key in $position {
    .position-#{$key} {
        position: $key;
    }
}

// float
@each $key in $float {
    .float-#{$key} {
        float: $key;
    }
}


// MAIN

// font-family
@each $key,
$val in $font-family {
    .font-family-#{$key} {
        font-family: $val;
    }
}

// background-image
@each $key,
$val in $background-image {
    .image-#{$key} {
        background-image: $val;
    }
}

// box-shadow
@each $key,
$val in $base-shadow {
    .b-shadow-#{$key} {
        box-shadow: $val;
    }
}

// text-shadow
@each $key,
$val in $base-shadow {
    .t-shadow-#{$key} {
        text-shadow: $val;
    }
}

// linear-gradient
@each $key,
$val in $linear-gradient {
    .lg-#{$key} {
        text-shadow: $val;
    }
}