@use 'sass:math';

$utilities: (
    "opacity": ("prefix": "o",
        "values": ("10": 0.1,
            "20": 0.2,
            "30": 0.3,
            "40": 0.4,
            "50": 0.5,
            "60": 0.6,
            "70": 0.7,
            "80": 0.8,
            "90": 0.9,
            "100": 1,
        ),
    ),
    "border-radius": ("prefix": "br",
        "values": ("default": $base-border-radius,
            "none": 0,
            "xs": math.div($base-border-radius, 4),
            "sm": math.div($base-border-radius, 2),
            "lg": $base-border-radius * 2,
            "full": 50%,
        )),

    "font-size": ("prefix": "font",
        "values": ("sm": $font-size-sm,
            "md": $base-font-size,
            "lg": $font-size-lg,
            "xl": $font-size-xl,
            "xxl": $font-size-xxl ))
);

@for $i from 100 through 0 {

    // margin
    .m-#{$i} {
        margin: $base-margin * $i;
    }

    .mt-#{$i} {
        margin-top: $base-margin * $i;
    }

    .mr-#{$i} {
        margin-right: $base-margin * $i;
    }

    .mb-#{$i} {
        margin-bottom: $base-margin * $i;
    }

    .ml-#{$i} {
        margin-left: $base-margin * $i;
    }

    // padding
    .p-#{$i} {
        padding: $base-padding * $i;
    }

    .pt-#{$i} {
        padding-top: $base-padding * $i;
    }

    .pr-#{$i} {
        padding-right: $base-padding * $i;
    }

    .pb-#{$i} {
        padding-bottom: $base-padding * $i;
    }

    .pl-#{$i} {
        padding-left: $base-padding * $i;
    }

    // gap
    .gap-#{$i} {
        gap: $gap * $i;
    }
}

// generate utility classes
@each $property,
$map in $utilities {
    $prefix: map-get($map, "prefix");
    $values: map-get($map, "values");

    @each $k,
    $v in $values {
        @if($k =="default") {
            .#{$prefix} {
                #{$property}: $v;
            }
        }

        @else {
            .#{$prefix}-#{$k} {
                #{$property}: $v;
            }
        }
    }
}

// font-style
@each $key in $font-style {
    .font-style-#{$key} {
        font-style: $key;
    }
}

// font-weight
@each $key in $font-weight {
    .font-weight-#{$key} {
        font-weight: $key;
    }
}

// list-style
@each $key in $list-style {
    .list-style-#{$key} {
        list-style: $key;
    }
}

// background
@each $key in $background {
    .background-#{$key} {
        background: $key;
    }
}

// overflow
@each $key in $overflow {
    .overflow-#{$key} {
        overflow: $key;
    }
}

// border-style
@each $key in $border-style {
    .border-style-#{$key} {
        border-style: $key;
    }
}

// cursor
@each $key in $cursor {
    .cursor-#{$key} {
        cursor: $key;
    }
}

// position text
@each $key in $text-align {
    .text-#{$key} {
        text-align: $key;
    }
}

// display
@each $key in $display {
    .display-#{$key} {
        display: $key;
    }
}

// direction
@each $key in $direction {
    .direction-#{$key} {
        flex-direction: $key;
    }
}

// justify-content
@each $key in $justify-content {
    .justify-#{$key} {
        justify-content: $key;
    }
}

// align-items
@each $key in $align-items {
    .items-#{$key} {
        align-items: $key;
    }
}

// position
@each $key in $position {
    .position-#{$key} {
        position: $key;
    }
}

// float
@each $key in $float {
    .float-#{$key} {
        float: $key;
    }
}