// 🔵SIZING AND SPACE

// size
$base-font-size: 0.50rem;
$base-line-height: 0.50rem;
$base-text-decoration: 0.1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
$base-width: 0.75rem;
$base-hedth: 0.75rem;
$top-right-bottom-left: 0.75rem;

// spacing
$base-margin: 0.75rem;
$base-padding: 0.75rem;
$base-gap: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;
$base-border-radius-circle: 1%;

// z-index
$base-z-index: 1;

// opacity
$base-opacity: 0.1;


// 🔵MAIN

// font-style
$font-style: normal, italic, oblique;

// font-weight
$font-weight: normal, bold, lighter, bolder, 100, 200, 300, 400, 500, 600, 700, 800, 900;

// text-transform
$text-transform: lowercase, uppercase, capitalize, none;

// text-decoration
$text-decoration: underline, overline, line-through, wavy, dotted, blink;

// list-style
$list-style: revert, square, georgian, lower-roman, inside, circle, none;

// background
$background: contain, repeat, no-repeat, cover, center, space;

// overflow
$overflow: visible, hidden, scroll, auto;

// border-style
$border-style: solid, double, groove, ridge, inset, outset, dashed, dotted, none;

// cursor
$cursor: default, pointer, text, progress, wait, no-drop, not-allowed, help, move, grab, grabbing, zoom-in, zoom-out, crosshair;

// user-select
$user-select: text, all, none;


// 🔵POSITIONING

// position text
$text-align: start, center, end;

// display
$display: block, inline-block, flex, grid, none;

// justify-content
$justify-content: start, center, end, space-between, space-around, space-evenly;

// align-items
$align-items: start, center, end, stretch;

// position
$position: static, relative, absolute, fixed, sticky;

// float
$float: left, right, none;