// 🔵colors of the site
// $colors-site: (
//     "primary": #326dee,
//     "secondary": #1ac888,
//     "error": #d32752,
//     "info": #f6c31c,
// );

// 🔵font-family
$font-family: (
    "sans-serif": sans-serif,
    "poppins": Poppins,
);

// 🔵grid

// 🔵background-image
$background-image: ( 
    "name": url(),
);

// 🔵box-shadow
$base-shadow: (
    "primary": 1px 3px 5px rgba(0, 0, 0, 0.1),
);

// 🔵linear-gradient
$linear-gradient:(
    "primary": linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%),
);