// 🔵background-image
$background-image: (
    "name": url(),
);

// 🔵:before and :after
$before: (
    "strings": '"',
);
$after: (
    "strings": '"',
);

// 🔵box-shadow
$base-shadow: (
    "primary": 1px 3px 5px rgba(0, 0, 0, 0.1),
);

// 🔵linear-gradient
$linear-gradient: (
    "primary": linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%),
);

// 🔵grid


// 🔵ul-image
$list_image: (
    "name": url(),
);