// 🔵grid


// 🔵background-image
$background-image: (
    "name": url(../img/marmite.png),
    );

// 🔵:before and :after
$before: (
    "strings": '"',
);
$after: (
    "strings": '"',
);

// 🔵box-shadow
$base-shadow: (
    "primary": 1px 3px 5px rgba(0, 0, 0, 0.1),
);

// 🔵linear-gradient
$linear-gradient: (
    "primary": linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%),
);

// 🔵filter
$filter: (
    "black": invert(0%) sepia(92%) saturate(7467%) hue-rotate(113deg) brightness(91%) contrast(99%),
    "white": invert(100%) sepia(0%) saturate(7500%) hue-rotate(20deg) brightness(98%) contrast(107%),
);

// 🔵ul-image
$list_image: (
    "name": url(),
);